.container {
  margin: 20px;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
}

.grid {
  max-width: 80vw;
  padding: 10px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1427px) {
  .grid {
    max-width: 90vw;
  }
}
